<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>Posts</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="page">
      <div class="side"></div>
      <div class="middle">
        <a href="/singlepost">
      <% if (posts.length > 0) { %>
        <% posts.forEach(post => { %>
          <div class="post">
            <h1>Title: <%= post.title %></h1>
            <h3>Body: <%= post.body %></p>
              <div class="like_button"> 
                <button ><img src="likebutton.jpg" alt="Account profile" class="likeimage"><%= post.likes %></button> 
              </div>
          </div>

        <% }) %>
        <% } else { %>
        <p>You did not post anything...</p>
        <% } %>
      </div>
    </a>
      <div class="side"></div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
