<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <title>Single Post</title>
    </head>

    <body >
        <%- include('./partials/navbar.ejs') %>

        <div class="page">
            <div class="side"></div>

            <div class="middle">
                <h1><%= post.title %></h1>

                <p><%= post.content %></p>
                <br/>
                
                <a href="/delete/<%= post.id %>"><button>Delete</button></a> 
            </div>

            <div class="side"></div>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
